# Virtual environment
venv/

# Data files (too large for GitHub)
data/raw/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Model files (optional, can be large)
outputs/models/*.pkl

# OS files
.DS_Store